<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Add emojis to your site with just the click of a button! No emojis were harmed in the making of this site.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>wtfEmojis</title>
	<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="build/css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>
<body>
	<div id="app">
		<div id="top"></div>
		<div class="message" :class="{copied: copied, error: error}">
			<span v-show="copied">Copied!</span>
			<span v-show="error">Uh oh! :(</span>
		</div>
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand logo" href="#top">wtfEmojis</a>
		    </div>
				<form class="navbar-form navbar-right" role="search" @submit.prevent>
				  <div class="form-group">
				    <input type="text" class="form-control" placeholder="Search for an emoji" v-model="searchText">
				  </div>
				</form>
		  </div>
		</nav>
		<header class="hp-header">
			<div class="container">
				<div class="text-wrap">
					<h1 class="header-text">Emojify Your Site</h1>
				</div>
				<div class="emoji-wrap">
					<span class="emoji">👻</span>
					<span class="emoji">🐛</span>
					<span class="emoji">🙃</span>
					<span class="emoji">💨</span>
					<span class="emoji">🌯</span>
				</div>
				<div class="btn-wrap">
					<a class="btn btn-lg btn-primary" href="#hp-content">Emoji Me!</a>
				</div>
			</div>
		</header>
		<main class="hp-content" id="hp-content">
			<div class="container">
				<div class="row">
					<div class="emoji-list">
						<div class="col-xs-6 col-sm-3 col-md-2 emoji-wrap" v-for="emoji in filteredList">
							<span class="emoji" :id="emoji.name" :title="emoji.name" @click="copy">{{emoji.emoji}}</span>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<div class="container text-center">
				<p>Copyright &copy;<span class="year"></span> <span class="logo">wtfEmojis</span></p>
			</div>
		</footer>
	</div>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-92406619-1', 'auto');
	  ga('send', 'pageview');

	</script>
	<script src="build/js/bundle.js"></script>
</body>
</html>
